* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#logIn {
  background: url("../img/back.jpg") no-repeat;
}
#logIn main #container {
  position: relative;
}
#logIn main form {
  background-color: rgba(148, 151, 156, 0.2);
  margin: 4% auto 0 ;
  padding: 1% ;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 12px rgba(255, 255, 255, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 12px rgba(255, 255, 255, 0.4);
}
#logIn main form img {
  width: 60%;
}
#logIn main form label {
  font-size: 15px;
  font-weight: 700;
  opacity: 0.9;
}
#logIn main form .error {
  color: #495057;
  background-color: #fff;
  border-color: #ff0f23;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(215, 7, 43, 0.6);
          box-shadow: 0 0 0 0.2rem rgba(215, 7, 43, 0.6);
}
#logIn main form .success {
  color: #495057;
  background-color: #fff;
  border-color: #47ff14;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 255, 20, 0.6);
          box-shadow: 0 0 0 0.2rem rgba(71, 255, 20, 0.6);
}
#logIn main form input[type="checkbox"] {
  cursor: pointer;
}
#logIn main form p {
  display: none;
  font-weight: bold;
}
#logIn .modal-content {
  opacity: 0.9;
}
#logIn .modal-content .modal-header {
  border-bottom: none;
}
#logIn .modal-content .modal-body {
  padding: 0;
}
#logIn .modal-content .modal-body .errorNumber {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#logIn .modal-content .modal-body .errorNumber h3 {
  padding: 0 10px;
}
#logIn .modal-content .modal-body .errorNumber img {
  width: 40px;
  height: 40px;
}
#logIn .modal-content .modal-footer {
  border-top: none;
}
